body{
    margin: 0px;
    background-color: #38090F;
}

.header{
    display: flex;
    padding: 1em;
    background-color: #530f1e;
    margin: 0px;
    justify-content: space-between;
    position: sticky;
    top: 0px;
}

.header>div{
    display: inherit;
}

#logo{
    width: 3.125em;
    height: 3.125em;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 14px;
}

.text{
    color: #DC9B4B;
    font-family: "Lora", serif;
}

#counter{
    text-align: right;
}

.maincont{
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
}

h1{
    margin-top: 90px;
    margin-bottom: 0px;
    text-align: center;
}

.headcont{
    display: flex;
    justify-content: center;
    height: fit-content;
}

input{
    margin: 0em 1em;
    margin-top: 36px;
    margin-bottom: 55px;
    border-radius: 8px;
}

#searchbar{
    height: 46px;
    width: 397px;
    padding: 0px 20px;
    background-color: #38090F;
    color: #B17071;
    border-color: #B17071;
    border-width: .5px;
    font-size: 15;
}

#searchbtn{
    width: 112px;
    color: #28030B;
}

.cardcont{
    display: grid;
    width: fit-content;
}

.cardpresets{
    width: 133px;
    height: 200px;
    margin: 4px;
}

.card{
    background-color: black;
    display: grid;
}

.col1{
    grid-column: 1;
}
.col2{
    grid-column: 2;
}
.col3{
    grid-column: 3;
}
.col4{
    grid-column: 4;
}
.col5{
    grid-column: 5;
}
.col6{
    grid-column: 6;
}
.col7{
    grid-column: 7;
}
.col8{
    grid-column: 8;
}
.col9{
    grid-column: 9;
}
